.section {
    display: flex;    
    flex-wrap: wrap; /*  pa que se agrupen pa la siguiente fila    */
    gap: 16px; /* Añade espacio entre los elementos */
    
}
.card {
    margin: 15px
}
.card:hover{
    background-color:#004ba0;
    transition:background-color 0.5s ease;
}