.container {
    padding: 16px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    justify-self: start;
  }
  
  .input {
    max-width: 300px;
  }
  
  .table-head {
    cursor: pointer;
  }
  
  .dialog-content {
    display: grid;
    gap: 16px;
    padding: 16px 0;
  }
  
  .dialog-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 16px;
  }
  
  .dialog-button {
    margin-top: 16px;
  }
  