.container {
    display: flex;
    height: 100vh;
    background-color: #f7fafc; /* bg-gray-100 */
  }
  
  .container.dark {
    background-color: #1a202c; /* dark:bg-gray-900 */
  }
  
  .sidebar {
    width: 16rem; /* w-64 */
    background-color: #ffffff; /* bg-white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  }
  
  .sidebar.dark {
    background-color: #2d3748; /* dark:bg-gray-800 */
  }
  
  .sidebar-header {
    padding: 1rem; /* p-4 */
    background-color: #3182ce;
  }
  
  .sidebar-nav {
    margin-top: 1rem; /* mt-4 */
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    text-align: left;
    color: #4a5568; /* text-gray-600 */
    justify-content: left;
  }
  
  .sidebar-button.dark {
    color: #e2e8f0; /* dark:text-gray-300 */
  }
  
  .sidebar-button:hover {
    background-color: #edf2f7; /* hover:bg-gray-100 */
  }
  
  .sidebar-button.dark:hover {
    background-color: #4a5568; /* dark:hover:bg-gray-700 */
  }
  
  .sidebar-button.active {
    background-color: #3182ce; /* bg-primary */
    color: #ffffff; /* text-primary-foreground */
  }
  
  .main-content {
    flex: 1;
    padding: 2rem; /* p-8 */
    overflow: auto;
  }
  
  .header {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
    margin-bottom: 1.5rem; /* mb-6 */
  }
  
  .grid {
    display: grid;
    gap: 1.5rem; /* gap-6 */
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .card-title {
    font-size: 1.25rem; /* text-4xl */
    font-weight: bold;
  }
  
  .card-content {
    font-size: 2.25rem; /* text-4xl */
    font-weight: bold;
  }
  
  .upcoming-activities {
    margin-top: 2rem; /* mt-8 */
  }
  
  .upcoming-activities-header {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
    margin-bottom: 1rem; /* mb-4 */
  }
  
  .activity-list {
    list-style: none;
    padding: 0;
  }
  
  .activity-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem; /* space-y-2 */
  }
  
  .activity-date {
    color: #a0aec0; /* text-gray-500 */
  }
  
  .add-activity-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem; /* mt-8 */
  }
  
  .submenu-button {
    padding-left: 2rem; /* Añade un margen para diferenciar */
    font-size: 0.9rem;
  }

  .submenu-active-icon{
    color: #3182ce; /* bg-primary */
    /* margin-left: 0.5rem; mr-2 */
    transition: color 0.3s ease;
    justify-self: right;
  }
  